<div class="d-flex justify-content-center align-items-start">
  <!--header-->
  <div class="d-flex flex-column text-center p-3 w-50">
    <div class="p-1">
      <hr class="border border-primary border-1 opacity-75" />
    </div>
    <div class="p-1">
      <h1 class="ms-3">Ansellma's Profile</h1>
    </div>
    <div class="p-1">
      <p class="ms-3">ansellma@gmail.com</p>
    </div>
    <div class="p-1">
      <hr class="border border-primary border-1 opacity-75" />
    </div>
    <div class="row">
      <!-- Image Column -->
      <div class="col-md-4 d-flex align-items-start">
        <div class="p-1">
          <img class="img-fluid img-thumbnail rounded-3" src="/img/ansell.jpg" alt="not-found-image" width="200" height="300" />
        </div>
      </div>

      <!-- Sections Column -->
      <div class="col-md-8 d-flex flex-column text-start p-3">
        <div class="row">
          <div class="col">
            <div class="p-1">
              <h5>Follower</h5>
              <!-- Content for Follower -->
            </div>
          </div>
          <div class="col">
            <div class="p-1">
              <h5>Following</h5>
              <!-- Content for Following -->
            </div>
          </div>
        </div>
        <div class="p-1">
          <h2>Ansellma Putri</h2>
          <p class="lead">Content Creator || Social Media Specialist</p>
        </div>
        <div class="p-1">
          <p style="text-align: justify">
            Ansellma is an avid enthusiast of fantasy books, comedy, action, and sci-fi genres. Her passion for classic cars is reflected in her daily drive, as she proudly owns a classic BMW E30 Coupe. Besides her love for cars, Ansellma
            is also a talented guitarist who enjoys making content and helping to grow social media platforms. Her diverse interests and creative spirit make her a dynamic and engaging individual.
          </p>
        </div>
        <div class="p-1">
          <h5>Interest</h5>
          <!-- Content for Interest -->
        </div>
        <div class="p-1">
          <h5>Bookmark</h5>
          <!-- Content for Bookmark -->
        </div>
        <div class="p-1">
          <h5>Ansellma's Review</h5>
          <!-- Content for Bookmark -->
        </div>
      </div>
    </div>
  </div>
</div>
