<hr class="border border-primary border-1 opacity-75" />
<h2 class="ms-3">Welcome to Review Garden!</h2>
<p class="ms-3">Please share your thoughts, Ansellma 😀</p>
<hr class="border border-primary border-1 opacity-75" />
